<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Registrar Hoteles</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/dashboard.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div th:replace="fragments/admin/menu_superior :: menu_superior"></div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div th:replace="fragments/admin/menu_lateral :: menu_lateral"></div>
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Registrar Hotel</h1>

          <form method="post" th:object="${hotel}" action="/admin/hotel/guardar">
          	<div class="form-group">
              <label for="campo01">Nombre</label>
              <input th:field="*{nombre}" type="text" class="form-control" id="campo01" placeholder="Texto" />
            </div>
            <div class="form-group">
              <label for="campo02">Precio</label>
              <input th:field="*{precio}" type="text" class="form-control" id="campo02" placeholder="Texto" />
            </div>
            <div class="form-group">
              <label for="campo01">Ubicacion</label>
              <input th:field="*{ubicacion}" type="text" class="form-control" id="campo01" placeholder="Texto" />
            </div>
            <div class="form-group">
              <label for="">Tipo de Hotel</label>
              <select th:field="*{tipohotel}"  class="form-control" >
              	<option th:each="t : ${listado1}" th:value="${t.id}" th:text="${t.nombre}" ></option>
              </select>
            </div>
            <div class="form-group">
              <label for="">Provincia</label>
              <select th:field="*{provincia}" class="form-control" >
              	<option th:each="d : ${listado2}" th:value="${d.id}" th:text="${d.nombre}" ></option>
              </select>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
    </div>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src=js/jquery-3.2.1.min.js"><\/script>')</script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>