<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Login Admin</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container-fluid">
      <div class="row">
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Login Administrador</h1>
			<div th:if="${error != null}" class="alert alert-danger">
          	<p th:text="${error}"></p>
          </div>
        
          <form th:object="${administrador}" method="post" action="/iniciar_admin">
            <div class="form-group">
              <label for="exampleInputEmail1">Correo</label>
              <input th:field="*{correo}" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" />
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input th:field="*{password}" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />
            </div>
            
            <button type="submit" class="btn btn-default">Ingresar</button>
          </form>
         
	
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src=js/jquery-3.2.1.min.js"><\/script>')</script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
