<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Iniciar sesion</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/dashboard.css" rel="stylesheet" />
    <link href="/css/offcanvas.css" rel="stylesheet" />
  </head>

<body>
    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">EMotel</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Inicio</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/usuario/registrar">Registro</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->

    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          
         <h1 class="page-header">Iniciar Sesion</h1>
         	<div th:if="${error != null}" class="alert alert-danger">
          	<p th:text="${error}"></p>
          </div>
			<form method="post" th:object="${usuario}" action="/usuario/iniciar_sesion">
          	
            <div class="form-group">
              <label for="campo02">Correo</label>
              <input th:field="*{correo}" type="text" class="form-control" id="campo02" placeholder="Texto" />
            </div>
            
            <div class="form-group">
              <label for="campo01">Password</label>
              <input th:field="*{password}" type="password" class="form-control" id="campo01" placeholder="Texto" />
            </div>
            <button type="submit" value="Ingresar" class="btn btn-default">Ingresar</button>
          </form>
          
          
          <div class="row">
          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->
  <!--<div th:replace="fragments/menu_lateral :: home_lateral"></div>-->
      </div><!--/row-->
      <hr>
      <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
    </div><!--/.container--><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src=js/jquery-3.2.1.min.js"><\/script>')</script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="offcanvas.js"></script>
  </body>
</html>