<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Reservar hoteles</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/dashboard.css" rel="stylesheet" />
    <link href="/css/offcanvas.css" rel="stylesheet" />
  </head>

<body>
    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">EMotel</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          <li class="active"><a href="/">Inicio</a></li>
            <li><a href="/login">Iniciar Sesion</a></li>
            <li><a href="/usuario/registrar">Registrarse</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->

    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          
       <h1 class="page-header">Reserva un hotel</h1>

          <form method="post" th:object="${reservaHotel}" action="/reservahotel/guardar">
            <div class="form-group">
              <label for="">Hotel</label>
              <select th:field="*{hotel}" class="form-control" >
              	<option th:each="d : ${hoteles}" th:value="${d.id}" th:text="${d.nombre}" ></option>
              </select>
            </div>
            <div class="form-group">
              <label for="">Fecha</label>
              <input th:field="*{fecha}" type="date" class="form-control" placeholder="Texto" />
            </div>
            <div class="form-group">
              <label for="">Número de días</label>
              <input th:field="*{nrodias}" type="text" class="form-control" placeholder="Texto" />
            </div>
            <div class="form-group">
              <label for="">Número de cuartos</label>
              <input th:field="*{nrocuartos}" type="text" class="form-control" placeholder="Texto" />
            </div>
            <div class="form-group">
              <label for="">Número de personas</label>
              <input th:field="*{nropersonas}" type="text" class="form-control" placeholder="Texto" />
            </div>
            <button type="submit" class="btn btn-default">Registrar</button>
          </form>
          
          <div th:if="${error != null}" class="alert alert-danger">
          	<p th:text="${error}"></p>
          </div>
          <div class="row">
          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->
  <div th:replace="fragments/menu_lateral :: home_lateral"></div>
      </div><!--/row-->
      <hr>
      <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
    </div><!--/.container--><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src=js/jquery-3.2.1.min.js"><\/script>')</script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="offcanvas.js"></script>
  </body>
</html>